@font-face {
  font-family: PoppinsLight;
  src: url("../assets/fonts/Poppins-Light.woff");
  format: ("woff");
  font-display: swap;
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../assets/fonts/Poppins-Regular.woff");
  format: ("woff");
  font-display: swap;
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../assets/fonts/Poppins-Medium.woff");
  format: ("woff");
  font-display: swap;
}

@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins-Bold.woff");
  format: ("woff");
  font-display: swap;
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("../assets/fonts/Poppins-SemiBold.woff");
  format: ("woff");
  font-display: swap;
}